# Static files for README
_static/
demo/

# Documentation
docs/
jsdoc.json

# Tests related
test/
coverage/

# Configs
rollup.config.js
.eslint*
.huskyrc.json
.editorconfig

# npm files
*.tgz

# CI/CD files
.travis*
.github

# IDE files
.vscode/
.idea/
